<header class="header">

  <!-- TOP BAR -->
  <div class="top-bar">
    ENTREGA EN 10 DÍAS O MENOS.
  </div>

  <!-- HEADER PRINCIPAL -->
  <div class="header-main">

    <!-- SEARCH -->
    <div class="search-box">
      <input type="text" placeholder="BUSCAR" />
      <span>🔍</span>
    </div>

    <!-- LOGO -->
    <!-- LOGO -->
    <a routerLink="/" class="logo">

      <h1>mōbica</h1>

      <span>
        ESTA ES MI CASA
      </span>

    </a>

    <!-- ICONS -->
    <div class="icons">

      <span>
        <i class="bi bi-geo-alt"></i>
      </span>

      <span>
        <i class="bi bi-person"></i>
      </span>

      <span>
        <i class="bi bi-heart"></i>
      </span>

      <!-- CART -->
      <a routerLink="/cart" class="cart-icon">

        <i class="bi bi-bag"></i>

      </a>

    </div>

  </div>

  <nav class="nav">

    <a routerLink="/categoria/hot-buys">HOT BUYS</a>

    <a routerLink="/categoria/sala">SALA</a>

    <a routerLink="/categoria/comedor">COMEDOR</a>

    <a routerLink="/categoria/colchones">COLCHONES</a>

    <a routerLink="/categoria/recamara">RECÁMARA</a>

    <a routerLink="/categoria/oficina">OFICINA</a>

    <a routerLink="/categoria/exterior">EXTERIOR</a>

    <a routerLink="/categoria/accesorios">ACCESORIOS</a>

    <a routerLink="/categoria/small-spaces">SMALL SPACES</a>

    <a routerLink="/categoria/business">BUSINESS</a>

    <a routerLink="/categoria/disenadores">DISEÑADORES</a>

  </nav>

</header>